body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#fdfdfdba;  
    font-family: 'Times New Roman';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #333331;
        box-shadow: 6px 10px lightcyan;
        border-radius: 20px;
}  
h2{  
    text-align: center;  
    color: rgb(3, 0, 3);
    font-size: 50px; 
    padding: 20px;  
}  
label{  
    color: #eef5f0;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;
    border-radius: 1ex;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    padding-left: 8px;   
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    padding-left: 7px;  
    color: rgb(0, 0, 5);
    
}

button{
    margin-left:120px;
}